    
    <button type="button" datatype="dropdown" data-target="#account" class="btn btn-account"> <img src="~/images/avatar_5.svg" alt="avatar"> </button>
    @await Html.PartialAsync("Partials/Components/_SettingsDropdown")
 