<div class="avatar">
    <a href="#" aria-controls="settings-dropdown" aria-expanded="false"><img src="~/images/avatar_5.svg" alt="avatar"> </a>
    @await Html.PartialAsync("Partials/Components/_SettingsDropdown")
</div>