<div class="notification " data-notificaiton-type="project">
    <div class="project-image">
        <img src="~/Images/Image_App_Development_Slack.svg" />
    </div>

    <div class="message">
        <span class="title">App Development <span>added</span></span>
        <span class="time">1 min. ago</span>
    </div>
    <button class="btn-remove"></button>
</div>

<div class="notification" data-notificaiton-type="user">
    <div class="user-image">
        <img src="~/Images/avatar_2.svg" />
    </div>

    <div class="message">
        <span class="title">Cristina Mosquera <span>signed in</span></span>
        <span class="time">10 min. ago</span>
    </div>
    <button class="btn-remove"></button>
</div>