


    <div class="dropdown-header">
        <h4>Notifications</h4>
        <div class="badge badge-red">0</div>
    </div>

    <div class="divider"></div>

    <div class="notifications">

        @await Html.PartialAsync("Partials/Components/_NotificationsList")

    </div>

