@* <nav class="settingsDropdown-container card" id="settingsDropdown">

    <div class="dropdown-header">

        <img src="~/images/avatar_5.svg" alt="avatar" />
        <span class="dropdown-name">Tommy Mattin-Lassei</span>

    </div>


    <div class="darkmode">

        <div class="darkmode-title">
            <i class="bi bi-gear-fill"></i>
            <span>Dark Mode</span>
        </div>

        <input type="checkbox" id="toggle">

    </div>

    <span class="divider"></span>


    <div class="logout">
        <a class="btn-logout" asp-controller="Auth" asp-action="Logout"><i class="bi bi-box-arrow-right"></i> Log Out</a>
    </div>

</nav> *@

