    <div id="account-container">
        <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn btn-account">
            <img src="~/images/avatar_5.svg" alt="template-avatar">
        </button>
    </div>
<div id="account-dropdown" class="dropdown dropdown-account">
        @await Html.PartialAsync("Dropdowns/_AccountDropdownPartial")
    </div>
   
 