
@{
    var provider = User?.FindFirstValue(ClaimTypes.AuthenticationMethod);

    if (string.IsNullOrEmpty(provider))
    {
        provider = "";
    }
    var imageClaim = User?.Claims.FirstOrDefault(c => c.Type == "image");
    var imageUrl = imageClaim?.Value;
    var email = User?.FindFirstValue(ClaimTypes.Email);
    var name = User?.FindFirstValue("DisplayName");
}
<div id="account-container">
        <button type="button" data-type="dropdown" data-target="#account-dropdown" class="btn btn-account">
            <div class="account-image">
                <img src=@imageUrl alt="avatar">
            </div>
            <div class="account-info">
                <span class="provider">@name</span>
                <span class="email">@email</span>
            </div>
              
        </button>
  
</div>
<div id="account-dropdown" class="dropdown dropdown-account">
     @await Html.PartialAsync("Dropdowns/_AccountDropdownPartial")
</div>
   
 