
@{
    var provider = User?.FindFirstValue(ClaimTypes.AuthenticationMethod);

    if (string.IsNullOrEmpty(provider))
    {
        provider = "";
    }
    var imageClaim = User?.Claims.FirstOrDefault(c => c.Type == "image");
    var imageUrl = imageClaim?.Value;
    var role = User?.FindFirstValue(ClaimTypes.Role);

    string displayEmail = await userService.GetDisplayEmailAsync(User!.Identity?.Name!);
}
<div id="account-container" type="button" data-type="dropdown" data-target="#account-dropdown" >
            
            <div class="account-image">
                <img src=@imageUrl alt="avatar">
            </div>

            <div class="account-info">
                <p class="email">@displayEmail</p>
                <p>Current Role: <span class="role">@role</span></p>
            </div>
              
  
</div>
<div id="account-dropdown" class="dropdown dropdown-account">
     @await Html.PartialAsync("Dropdowns/_AccountDropdownPartial")
</div>
   
 