@* <div id="confirmationModal" class="modal modal-confirmation">
    <div class="modal-content">
        <p>Are you sure you want to delete this item?</p>
        <button id="confirmDelete">Yes</button>
        <button id="cancelDelete">No</button>
    </div>
</div>
 *@