
@model Business.Models.ProjectResult<IEnumerable<Domain.Models.Project>>

<div class="project card" data-project-id="1">

    <div class="card-header">
        <div class="project-image">
            <img src="~/Images/Image_App_Development_Slack.svg" alt="template project" />
        </div>
        <h6 class="project-name">Website Redesign</h6>
        <span class="client-name">GitLab Inc.</span>

        <div id="project-actions-container">

            <button type="button" data-type="dropdown" data-target="#projectDropdown-1" class="btn-action">
                <i class="fa-solid fa-ellipsis"></i>
            </button>

            <div class="dropdown dropdown-project" id="projectDropdown-1">
                <partial name="Dropdowns/_ProjectDropdownPartial" />
            </div>

        </div>


    </div>



    <div class="card-body">
        <p>It is necessary to develop a website redesign in a corporate style.</p>
    </div>


    <div class="card-footer">
        <div class="project-time warning">
            <i class="fa-regular fa-clock"></i>
            <div class="deadline">1 week left</div>
        </div>
        <div class="members">
            <div class="user-image">
                <img src="~/images/avatar_4.svg" alt="member-avatar" />
            </div>
            <div class="user-image">
                <img src="~/images/avatar_8.svg" alt="member-avatar" />
            </div>

        </div>
    </div>
</div>


