@model ClientsViewModel

@{

    ViewData["Title"] = "Clients";
}

@await Html.PartialAsync("Modals/_AddClientFormPartial", Model.AddClientForm) 
@await Html.PartialAsync("Modals/_EditClientFormPartial", Model.EditClientForm)

<section id="clients">
    <div class="page-header">
        <h2>@ViewData["Title"]</h2>
        <button type="button" data-type="modal" data-target="#addClientModal" class="btn btn-add btn-blue">Add Client</button>
    </div>
    <div class="client-list">
        @await Html.PartialAsync("ListsItems/_ClientListItemPartial", Model.Clients)
     </div>   
</section>
