@model EditMemberViewModel

<div id="editMemberModal" class="modal">
    <div class="modal-content">

        <div class="modal-header">
            <h3>Edit Member</h3>
            <button type="button" class="btn-close" data-close="true"></button>
        </div>

        <form novalidate method="post" asp-action="EditMember" asp-controller="Members">

            <div class="image-previewer circle">
                <img src="" class="image-preview" />
                <input asp-for="MemberImage" accept="image/*" class="hide" selected />
            </div>

            <div class="form-group-flex">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <div class="field-group">
                        <input asp-for="FirstName" />
                        <span asp-validation-for="FirstName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName"></label>
                    <div class="field-group">
                        <input asp-for="LastName" />
                        <span asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>
            

            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Phone"></label>
                <div class="field-group">
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="JobTitle"></label>
                <div class="field-group">
                    <input asp-for="JobTitle" />
                    <span asp-validation-for="JobTitle"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <div class="field-group">
                        <input asp-for="Address" />
                        <span asp-validation-for="Address"></span>
                </div>
            </div>

            <div class="form-group">
                <label>Date of Birth</label>
                <div class="form-group-flex">
                   <div class="form-group">
                    <div class="field-group">
                        <input asp-for="Day" />
                        <span asp-validation-for="Day"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field-group">
                        <input asp-for="Month" />
                        <span asp-validation-for="Month"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="field-group">
                        <input asp-for="Year" />
                        <span asp-validation-for="Year"></span>
                    </div>
                </div>
            </div>
            </div>
           

            <button type="submit" class="btn btn-submit btn-blue">Update Member</button>
        </form>

    </div>
</div>

