<div class="top-bar">

    <div class="search-bar">

        @await Html.PartialAsync("Partials/Components/_SearchBar")

    </div>

    <div class="d-flex">

        @await Html.PartialAsync("Partials/Components/_Notifications")


        @await Html.PartialAsync("Partials/Components/_Settings")

        


        <hr>

        @await Html.PartialAsync("Partials/Components/_Avatar")


    </div>
</div>
    