
@{
    var provider = User?.FindFirstValue(ClaimTypes.AuthenticationMethod);

    if (string.IsNullOrEmpty(provider))
    {
        provider = "";
    }
    var imageClaim = User?.Claims.FirstOrDefault(c => c.Type == "image");
    var imageUrl = imageClaim?.Value;

    string displayName = await userService.GetDisplayNameAsync(User!.Identity?.Name!); 

}
    <div class="dropdown-header">

        <div class="account-name">
        <img src=@imageUrl alt="avatar" />
            <span>@displayName</span>
        </div>
        
    </div>


    <div class="dropdown-body">

        <nav class="dropdown-options">
        <div class="dropdown-option">

            <label for="darkModeToggle" class="darkmode">
                <i class="bi bi-gear-fill"></i>
                <span>Dark Mode</span>
            </label>
            <input type="checkbox" id="darkModeToggle" datat-type="toggle" data-func="darkmode">
        </div>


       @*  <div class="theme-switch">
            <label class="toggle-switch" for="darkmode-switch" aria-label="darkmode-switch">
                <input id="darkmode-switch" type="checkbox" />
                <span class="switch-label" for="darkmode-switch"></span>
            </label>
        </div> *@
           
        </nav>
        
        <div class="divider"></div>

        <nav class="dropdown-actions">
            <a class="dropdown-action" asp-controller="Auth" asp-action="Logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>Log Out</span>
            </a>

        </nav>
      

    </div>


   



