


    <div class="dropdown-body">

        <nav class="dropdown-actions">

            <button class="dropdown-action" data-type="modal" data-target="#editProjectModal">
                 <i class="fa-solid fa-pen-to-square"></i>
                 <span data-modal="true" data-target="#editProjectModal">Edit</span>
            </button>
            
        </nav>
        
        <nav class="dropdown-actions">

            <button class="dropdown-action">
                    <i class="fa-solid fa-user-plus"></i>
                    <span data-modal="true" data-target="#addMemberModal">Add Member</span>
                
            </button>

         </nav>

        <span class="divider"></span>


        <nav class="dropdown-actions">

            <a class="dropdown-action remove" href="#">
                    <i class="fa-solid fa-trash"></i>
                    <span>Delete Project</span>
            </a>
            
        </nav>

    </div>
   
   

