@model Presentation.Models.SignUpViewModel

@{
    Layout = "_CleanLayout";

    ViewData["Title"] = "Create Account";
}

<section id="signup" class="card">
    
    <div class="card-header">
        <h1>@ViewData["Title"]</h1>
    </div>

   <div class="card-body">

        <a asp-controller="Auth" asp-action="ExternalSignIn" asp-route-provider="Google" asp-route-returnUrl="@ViewBag.ReturnUrl"
           class="btn btn-external">
            <img src="~/images/icon_google.svg" />
            <span>Sign Up with Google</span>
        </a>
        

        <div class="divider"> <span>or</span></div>

        <form asp-controller="Auth" asp-action="SignUp" method="post" novalidate enctype="multipart/form-data" class="no-ajax">

            @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
            {
                <div class="alert-notification error">
                    @ViewBag?.ErrorMessage
                </div>
            }
                <div class="form-group">
                    <label class="form-label" asp-for="FirstName"></label>
                    <input class="form-input" asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="LastName"></label>
                    <input class="form-input" asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                <input class="form-input" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>


                <div class="form-group">
                    <label class="form-label" asp-for="Password"></label>
                    <input class="form-input" asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>

                <div class="form-group">
                <label class="form-label" asp-for="ConfirmPassword"></label>
                <input class="form-input" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
                </div>

            <div class="form-group-checkbox">
                <label class="form-checkbox">
                    <input type="checkbox" asp-for="TermsAndConditions" class="form-checkbox-input" id="terms-checkbox" checked />
                    <span class="checkbox-box"></span>
                </label>
                <label for="terms-checkbox" asp-for="TermsAndConditions" class="checkbox-label">I accept <a href="#">Terms and Conditions</a></label>
                <span asp-validation-for="TermsAndConditions"></span>
            </div>

            
                <div class="form-group">
                    <button type="submit" class="btn btn-submit btn-blue">Create Account</button>
                </div>

                </form>
    
        <div class="card-footer">
            <span>Already have an account?</span>
            <a asp-controller="Auth" asp-action="SignIn">Log in</a>
        </div>
   </div>

</section>

