@{

    ViewData["Title"] = "Team Members";
}
<partial name="Modals/_AddMemberFormPartial" model="new AddMemberViewModel()" /> @* "model="new AddMemberForm()" suggested by chat gpt to force the model to view used as it interfered with  @model IEnumerable<Member> in the partial view *@
<partial name="Modals/_EditMemberFormPartial" model="new EditMemberViewModel()" /> @* same as above *@

<section id="team-members">
    <div class="page-header">
        <h2>@ViewData["Title"]</h2>
        <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
    </div>

    <div class="members-list">

        <partial name="ListsItems/_MemberListItemPartial" />

    </div>
</section>