@model UsersViewModel
@{

    ViewData["Title"] = "Team Members";
}

    @await Html.PartialAsync("Modals/_AddMemberFormPartial", Model.AddMemberForm)
    @await Html.PartialAsync("Modals/_EditMemberFormPartial", Model.EditMemberForm)


<section id="team-members">
    <div class="page-header">
        <h2>@ViewData["Title"]</h2>
        <button type="button" data-type="modal" data-target="#addMemberModal" class="btn btn-add btn-blue">Add Member</button>
    </div>

    <div class="members-list">
        @if(Model.Users != null && Model.Users.Any())
        {
            @foreach (var user in Model.Users)
            {
                @await Html.PartialAsync("ListsItems/_MemberListItemPartial", user)
               
            }
        }

    </div>
</section>