@model AddMemberViewModel

<div id="addMemberModal" class="modal">
    <div class="card">

        <div class="card-header">
            <h3>New Member</h3>
            <button type="button" class="btn-close" data-type="close" data-target="#addMemberModal"></button>
        </div>

        <div class="card-body">
            <form novalidate method="post" asp-action="AddMember" asp-controller="Users" enctype="multipart/form-data" >
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

                @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage as string))
                {
                    <div class="alert-notification error">
                        @ViewBag?.ErrorMessage
                    </div>
                }
                
                <div class="image-previewer circle">
                    <img src="" class="image-preview" />
                    <input asp-for="UserImage" type="file" accept="image/*" class="hide" name="UserImage" />
                </div>

                <div class="form-horizontal-group">
                    <div class="form-group">
                        <label class="form-label" asp-for="FirstName"></label>
                        <div class="field-group">
                            <input class="form-input" asp-for="FirstName" />
                            <span asp-validation-for="FirstName"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" asp-for="LastName"></label>
                        <div class="field-group">
                            <input class="form-input" asp-for="LastName" />
                            <span asp-validation-for="LastName"></span>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Phone"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="Phone" />
                        <span asp-validation-for="Phone"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="JobTitle"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="JobTitle" />
                        <span asp-validation-for="JobTitle"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="StreetName"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="StreetName" />
                        <span asp-validation-for="StreetName"></span>
                    </div>
                </div>

                <div class="form-horizontal-group">
                    <div class="form-group">
                        <label class="form-label" asp-for="PostalCode"></label>
                        <div class="field-group">
                            <input class="form-input" asp-for="PostalCode" />
                            <span asp-validation-for="PostalCode"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" asp-for="City"></label>
                        <div class="field-group">
                            <input class="form-input" asp-for="City" />
                            <span asp-validation-for="City"></span>
                        </div>
                    </div>
                </div>
                
                    <div class="form-group">
                        <label class="form-label" asp-for="Role">Role</label>

                        <div class="custom-select" data-placeholder="Choose a role">

                            <button type="button" class="custom-select-trigger">
                                <span class="custom-select-text">Choose role</span>
                            </button>
                        <ul class="custom-select-options">
                            <li class="custom-select-option" data-value="Admin">Admin</li>
                            <li class="custom-select-option" data-value="User">User</li>
                        </ul>

                       @*  <ul class="custom-select-options">
                        @if (ViewBag?.Roles is List<SelectListItem> roles)
                        {
                            foreach (var role in roles)
                            {
                                <li class="custom-select-option" data-value="@role.Value">@role.Text</li>
                            }
                        }
                        else
                        {
                            <li class="custom-select-option" data-value="">No roles available</li>
                        }
                        </ul> *@
                        <input type="hidden" name="Role" id="roleInput" value="@Model?.Role" />
                        </div>
                    </div>
    
                <button type="submit" class="btn btn-submit btn-blue">Add Contact</button>
            </form>
        </div>
        

    </div>
</div>

