
@model EditClientViewModel

<div id="editClientModal" class="modal">
    <div class="card">

        <div class="card-header">
            <h3>Edit Client</h3>
            <button type="button" class="btn-close" data-type="close" data-target="#editClientModal"></button>
        </div>

        <div class="card-body">

            <form novalidate method="post" asp-controller="Clients" asp-action="EditClient" enctype="multipart/form-data">

                <div class="image-previewer circle">
                    <img src="" class="image-preview" />
                    <input asp-for="ClientImage" accept="image/*" class="hide" />
                </div>
               

                <div class="form-group">
                    <label class="form-label" asp-for="ClientName"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="ClientName" />
                        <span asp-validation-for="ClientName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Email"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="Email" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Address"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="Address" />
                        <span asp-validation-for="Address"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Phone"></label>
                    <div class="field-group">
                        <input class="form-input" asp-for="Phone" />
                        <span asp-validation-for="Phone"></span>
                    </div>
                </div>


                <div class="form-group">
                <label class="form-label">Client Status</label>

                <div class="custom-select" data-placeholder="Choose a status">
                    <button type="button" class="custom-select-trigger">
                        <span class="custom-select-text"></span>
                    </button>
                    <ul class="custom-select-options">
                        <li class="custom-select-option" data-value="1">active</li>
                        <li class="custom-select-option" data-value="2">inactive</li>
                    </ul>
                    <input type="hidden" name="client-select-value" value="1" />
                    <span></span>
                </div>
            </div>

            <button type="submit" class="btn btn-submit btn-blue">Save</button>
            </form>

        </div>
    </div>
</div>