@model EditProjectViewModel

<section id="editProjectModal" class="modal">
    <div class="card">

        <div class="card-header">
            <h3>Edit Project</h3>
            <button type="button" class="btn-close" data-type="close" data-target="#editProjectModal"></button>
        </div>

        <div class="card-body">
            <form novalidate method="post" asp-action="AddProject" asp-controller="Projects" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="image-previewer square">
                        <img src="" class="image-preview" />
                        <input asp-for="ClientImage" accept="image/*" class="hide" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="ProjectName">Project Name</label>
                    <div class="field-group">
                        <input class="form-input" asp-for="ProjectName" />
                        <span asp-validation-for="ProjectName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="ClientName">Client Name</label>

                    <div class="form-select" data-placeholder="Choose a client">
                        <button type="button" class="form-select-trigger">
                            <span class="form-select-text"></span>
                        </button>
                        <ul class="form-select-options">
                            <li class="form-select-option" data-value="1">Client 1</li>
                            <li class="form-select-option" data-value="2">Client 2</li>
                        </ul>
                        <input type="hidden" name="client-select-value" asp-for="ClientName" />
                        <span asp-validation-for="ClientName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Description">Description</label>

                    <div class="wysiwyg">

                        <textarea id="edit-project-description" asp-for="Description"></textarea>

                        <div id="edit-project-description-wysiwyg-editor" class="wysiwyg-editor"></div>

                        <div id="edit-project-description-wysiwyg-toolbar" class="wysiwyg-toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-align" value=""></button>
                                <button class="ql-align" value="center"></button>
                                <button class="ql-align" value="right"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="bullet"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </div>
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>

                <div class="form-horizontal-group">

                    <div class="form-group">
                        <label class="form-label" asp-for="StartDate">Start Date</label>
                        <div class="field-group">
                            <input class="form-input" type="date" asp-for="StartDate" />
                            <span asp-validation-for="StartDate"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label" asp-for="EndDate">End Date</label>
                        <div class="field-group">
                            <input class="form-input" type="date" asp-for="EndDate" />
                            <span asp-validation-for="EndDate"></span>
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Members"> Members</label>

                    <div class="form-select" data-placeholder="Choose a member">
                        <button type="button" class="form-select-trigger">
                            <span class="form-select-text"></span>
                        </button>
                        <ul class="form-select-options">
                            <li class="form-select-option" data-value="1">Cristina Mosquera</li>
                            <li class="form-select-option" data-value="2">Hans Martinez</li>
                        </ul>
                        <input type="hidden" name="member-select-value" asp-for="Members" />
                        <span asp-validation-for="Members"></span>
                    </div>

                </div>

                <div class="form-group">
                    <label class="form-label" asp-for="Budget">Budget</label>
                    <div class="form-input-extended">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <input class="form-input" asp-for="Budget" />
                        <span asp-validation-for="Budget"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label">Project Status</label>

                    <div class="form-select" data-placeholder="Choose a status">
                        <button type="button" class="form-select-trigger">
                            <span class="form-select-text"></span>
                        </button>
                        <ul class="form-select-options">
                            <li class="form-select-option" data-value="1">STARTED</li>
                            <li class="form-select-option" data-value="2">COMPLETED</li>
                        </ul>
                        <input type="hidden" name="client-select-value" value="1"/>
                        <span></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-submit btn-blue">Save</button>


            </form>
        </div>

    </div>

</section>
<script>
    document.addEventListener('DOMContentLoaded', function() {
         initWysiwyg('#edit-project-description-wysiwyg-editor', '#edit-project-description-wysiwyg-toolbar', '#edit-project-description', '@Html.Raw(ViewBag.Description ?? "")')
    })
    function initWysiwyg(wysiwygEditorId, wysiwygToolbarId, textareaId, content) {
        const textarea = document.querySelector(textareaId)
        const quill = new Quill(wysiwygEditorId, {
            modules: {
                syntax: true,
                toolbar: wysiwygToolbarId
            },
            placeholder: 'Type something',
            theme: 'snow'
        })

        if(content)
            quill.root.innerHTML = content;

        quill.on('text-change', () => {
            textarea.value = quill.root.innerHTML;
        })
    }

</script>